input {
    width: 60px;
}
#impar-btn {
    width: 120px;
}

#tabuada-btn {
    width: 180px;
}

#resp-maior-lista-btn {
    width: 190px;
}

#resp-menor-lista-btn {
    width: 190px;
}

#resp-mostrar-btn {
    width: 190px;
}

#adicionar-btn {
    width: 190px;
}